*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --cor-primaria: #4e4e4e;
    --cor-secundaria: #cbcbcb;
    --cor-terciaria: #b0afaf;
    --cor-logo: #FA4B1C;
    --cor-logo-hover: #DB4B1C;
    --cor-texto: #fff;

}

body {
    font-family: 'arial';
}

/* ----------- NAVEGAÇÃO ------------ */
.navegacao{
    background-color: var(--cor-primaria);
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px var(--cor-primaria);
    z-index: 99;
}

.global_conteudo_interno {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.navegacao>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.navegacao_logo {
    color: var(--cor-logo);
}

.navegacao_logo span{
    color: var(--cor-texto);
}

nav ul li {
    color: var(--cor-texto);
    margin-right: 1.5rem;
    cursor: pointer;
}

nav ul li:hover{
    transform: translateY(-3px);
    transition: all 0.2s;
    font-weight: bold;
}

.navegacao_lista {
    display: flex;
    list-style: none;
    align-items: center;
}

.navegacao_icones {
    display: flex;
    align-items: center;
}

.navegacao_icones img{
    width: 30px;
    cursor: pointer;
}

.navegacao_icones img:first-child{
    margin-right: 1rem;
}

.navegacao_icones_menu{
    display: none;
}

/* ----------- CABEÇALHO ------------ */
.cabecalho{
    background-image: radial-gradient(var(--cor-texto), var(--cor-secundaria));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.cabecalho_esquerdo{
    height: 100%;
    flex-basis: 30%;
}

.cabecalho_esquerdo h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.cabecalho_esquerdo ul li {
    font-weight: 550;
    line-height: 1.5rem;
    margin-bottom: 3px;
    list-style: none;
}

.cabecalho_esquerdo button{
    background-color: var(--cor-logo);
    border: none;
    cursor: pointer;
    margin: 1.5rem;
    padding: 0.8rem 3.8rem;
    border-radius: 20px;
    color: var(--cor-texto);
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.2s;

}

.cabecalho_esquerdo button:hover{
    background-color: var(--cor-logo-hover);
}

.cabecalho_direito{
    display: flex;
    flex-basis: 30%;
    align-items: center;
    justify-content: center;
}

.cabecalho_direito img{
    width: 100%;
}

/* ----------- MEDIA QUERIES ------------ */
@media (max-width: 800px){
    .navegacao_logo {
        font-size: 1.2rem;
    }

    .cabecalho{
        flex-direction: column;
        text-align: center;
        padding-top: 4rem;
    }

    nav {
        position: absolute;
        background-color: var(--cor-primaria);
        width: 100%;
        top: 46px;
        display: none;
    }

    .show-menu nav{
        display: block;

    }
    
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        text-align: center;
        padding: 0.8rem;
    }

    .navegacao_icones_menu {
        display: block;
    }
}

/* --------- CONTEUDO PRINCIPAL DA PAGE ----------- */

main {
    background-image: radial-gradient(var(--cor-texto), var(--cor-secundaria));
}


.main {
    background-color: var(--cor-primaria);
}

.global_conteudo_interno {
    max-width: 1280px;
    margin: 0 auto;
}

.cols {
    display: grid;
    justify-content: space-evenly;
    padding: 4rem 1rem;
}

.cols-3 {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.cols-3 img {
    width: 100%;
    border-radius: 15px;
}

.cols-4 img {
    width: 90%;
    border-radius: 15px;
}

.cols-4{
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.cols>*{
    cursor: pointer;
    transition: all 0.2s;
}

.cols>*:hover {
    transform: translateY(-5px);
}

.pagina_titulo {
    text-align: center;
    margin-top: 4rem;
    font-size: 1.8rem;
}

.pagina-barra-subtitulo {
    width: 100px;
    height: 5px;
    background: var(--cor-logo);
    border-radius: 360px;
    margin: 8px auto 0 auto;
}

.pagina_produto {
    color: var(--cor-primaria);
    margin-bottom: 1rem;
    padding: 1px;
    display: flex;
    flex-direction: column;
}

.pagina-nome-produto {
    font-weight: 600;
    margin-top: 0.4rem;
}

.pagina-rate-produto {
    color: var(--cor-logo);
    font-size: 1.3rem; 
}

.pagina-preco-produto {
    font-weight: 600;
    font-size: 1.3rem;
}

.page-conteudo { 
    color: var(--cor-texto);
    background-color: var(--cor-primaria);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.page-esquerda{
    height: 100%;
    flex-basis: 30%;
}

.page-esquerda h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.page-esquerda ul li {
    font-weight: 550;
    line-height: 1.5rem;
    margin-bottom: 3px;
    list-style: none;
}

.page-esquerda button{
    background-color: var(--cor-logo);
    border: none;
    cursor: pointer;
    margin: 1.5rem;
    padding: 0.8rem 3.8rem;
    border-radius: 20px;
    color: var(--cor-texto);
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.2s;

}

.page-esquerda button:hover{
    background-color: var(--cor-logo-hover);
}

.page-direita{
    display: flex;
    flex-basis: 30%;
    align-items: center;
    justify-content: center;
}

.page-direita img{
    width: 70%;
}

/* ------ MEDIA QUERIES II ------- */

@media (max-width: 800px){
    .pagina_titulo {
        font-size: 1rem;
    }

    .cols-3 {
        grid-template-columns: repeat(1, 1fr);
    }

    .cols-4 {
        grid-template-columns: repeat(2, 1fr);
    }

    .pagina-nome-produto, .pagina-rate-produto, .pagina-preco-produto {
        max-height: 1rem;
        overflow: hidden;
        font-size: 0.8rem;
    }

    .page-conteudo {
        flex-direction: column-reverse;
    }

    .page-conteudo img {
        margin-top: 3rem;
        margin-bottom: 4rem;
    }

}

/* --------- SEÇÃO DE COMENTÁRIOS ------------- */

.secao-comentarios {
    display: flex;
    padding: 4rem 1rem;
    justify-content: space-evenly;
}

.comentario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
    text-align: center;
    box-shadow: 0 0 15px var(--cor-terciaria);
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.2s;
}

.comentario:hover {
    transform: translateY(-5px);
}

.comentario p{
    margin: 5px 0;
}

.comentario p:first-child {
    font-weight: bold;
    font-size: 5rem;
    color: var(--cor-logo);
    margin-top: 3rem;
    line-height: 2rem;
}

.comentario p:last-child {
    font-weight: bold;
}

/* ----- MEDIA QUERIES -------  */

@media (max-width: 800px) {
    .secao-comentarios {
        flex-direction: column;
    }

    .comentario {
        margin-bottom: 1.2rem;
    }
}