*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --cor-primaria: #2c2c2c;
    --cor-logo: #E56608;
    --cor-texto: #fff;

}

body {
    font-family: 'arial';
}

.cabecalho{
    background-color: var(--cor-primaria);
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px var(--cor-primaria);
    z-index: 99;
}

.cabecalho_conteudo_interno {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.cabecalho>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho_logo {
    color: var(--cor-logo);
}

.cabecalho_logo span{
    color: var(--cor-texto);
}

nav ul li {
    color: var(--cor-texto);
    margin-right: 1.5rem;
    cursor: pointer;
}

nav ul li:hover{
    transform: translateY(-3px);
    transition: all 0.2s;
    font-weight: bold;
}

.cabecalho_navegacao {
    display: flex;
    list-style: none;
    align-items: center;
}

.cabecalho_icones {
    display: flex;
    align-items: center;
}

.cabecalho_icones img{
    width: 30px;
    cursor: pointer;
}

.cabecalho_icones img:first-child{
    margin-right: 1rem;
}

.cabecalho_icones_menu{
    display: none;
}

