*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --cor-primaria: #2c2c2c;
    --cor-segundaria: #F0F0F0;
    --cor-logo: #FA4B1C;
    --cor-logo-hover: #DB4B1C;
    --cor-texto: #fff;

}

body {
    font-family: 'arial';
}

.navegacao{
    background-color: var(--cor-primaria);
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px var(--cor-primaria);
    z-index: 99;
}

.navegacao_conteudo_interno {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.navegacao>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegacao_logo {
    color: var(--cor-logo);
}

.navegacao_logo span{
    color: var(--cor-texto);
}

nav ul li {
    color: var(--cor-texto);
    margin-right: 1.5rem;
    cursor: pointer;
}

nav ul li:hover{
    transform: translateY(-3px);
    transition: all 0.2s;
    font-weight: bold;
}

.navegacao_lista {
    display: flex;
    list-style: none;
    align-items: center;
}

.navegacao_icones {
    display: flex;
    align-items: center;
}

.navegacao_icones img{
    width: 30px;
    cursor: pointer;
}

.navegacao_icones img:first-child{
    margin-right: 1rem;
}

.navegacao_icones_menu{
    display: none;
}

.cabecalho{
    background-image: radial-gradient(var(--cor-texto), var(--cor-segundaria));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.cabecalho_esquerdo{
    height: 100%;
    flex-basis: 30%;
}

.cabecalho_esquerdo h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.cabecalho_esquerdo ul li {
    line-height: 1.5rem;
    margin-bottom: 3px;
    list-style: none;
}

.cabecalho_esquerdo button{
    background-color: var(--cor-logo);
    border: none;
    cursor: pointer;
    margin: 1.5rem;
    padding: 0.8rem 3.8rem;
    border-radius: 20px;
    color: var(--cor-texto);
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.2s;

}

.cabecalho_esquerdo button:hover{
    background-color: var(--cor-logo-hover);
}

.cabecalho_direito{
    display: flex;
    flex-basis: 30%;
    align-items: center;
    justify-content: center;
}

.cabecalho_direito img{
    width: 100%;
}